/* Skills Container Styles */
.skills-container {
}

/* Styles for the 'bars' class */
.bars {
    width: 95%;
    float: left;
    padding: 0;
    text-align: left;
}

/* Styles for the 'skills' unordered list */
.bars .skills {
    margin-top: 36px;
    list-style: none;
    padding: 0; /* Removes default padding */
}

/* Styles for each skill list item */
.bars li {
    position: relative;
    margin-bottom: 60px;
    background: #333;
    height: 42px;
    border-radius: 0px;
}

/* Styles for the skill name */
.bars li em {
    font: 15px 'opensans-bold', sans-serif;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    position: relative;
    top: -36px;
}

/* Styles for the skill level bar */
.bar-expand {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-right: 24px;
    background: #313131; /* Default background color, can be overridden inline */
    display: inline-block;
    height: 42px;
    line-height: 42px;
    border-radius: 0px;
}

